
    .section-header {
        position: relative;
        font-size: 2.3em;
        font-weight: 400;
        color: #333;
        text-align: center;
        line-height: 60px;
        letter-spacing: 1px;margin-bottom: 5px;
      }
      .section-header:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 12%;
        width: 70px;
        height: 2px;
        background:#ff1e00 ;
        transform: translate(-50%, 0);
        transform: translate3d(-50%, 0, 0);
      }
     .container-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 6rem;
        margin: 0 auto 7rem;
        padding: 75px;
      }
      .card {
        height: 355px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-rows: 1fr 1fr;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
      }
      .car-tlt {
        color: rgb(255, 255, 255);
        font-size: 24px;
        margin: 20px 0 0 20px;width:10em;height: 1.5em;
      
      }
      
      .car-desc {
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 16px;
        align-self: end;
        margin: 0 0 20px 20px;height: 2em;
        letter-spacing: 0.5px;width:10em;
      }
      .car-desc, .car-tlt {
      background-color: rgb(88, 88, 88,0.5);padding: 5px 5px;border-radius: 15px;
      }
      .card h5 {
        color: rgb(255, 255, 255);
        height: 2em;width:10em;margin:auto;
      }
      img {
        position: absolute;
        top: 0;
        height: 110%;
        width: 100%;
        z-index: -1;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
      }
     
      .card:hover {
        transform: scale(1.035, 1.035);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
      }
      .card:hover img {
        transform: translateY(-10px);
      }